body {
  margin: 0;
  font-family: "JetBrains Mono",monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

.div-table {
  border: 1px solid;
  margin-left: 28em;
  margin-right: 28em;
  padding-left: 0.3em;
  justify-content: center;
  text-align: left;
}

.input-name {
  margin-right: 3.9em;
  margin-bottom: 0.2em;
}
.input-skill {
  margin-bottom: 0.2em;
}

.btn {
  margin-top: 0.2em;
  font-family: "JetBrains Mono",monospace;
}

.btn:hover {
  cursor: pointer;
}

.btn-plus {
  margin-left: 0.2em;
  font-family: "JetBrains Mono",monospace;
}

.btn-plus:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}